.profile_card {
  width: 18rem;
  border: solid;
  border-block-color: #387373;
}

.profilecard_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profilecard_title {
  display: flex;
  justify-content: center;
  color: #13334d;
  font-weight: bold;
  text-align: center;
}

.profilecard_link {
  color: #387373;
  margin-right: 10px;
}

.profilecard_description {
  display: flex;
}

.profilecard_body {
  text-align:center;
  padding-bottom: 1rem;
}

.profile_card_social_media_icon{
    color: #387373;
    margin: 0 10px;
}

.profile_card_footer{
     display: flex;
    justify-content: center;
}