body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20;
    font-family: Arial, sans-serif;
    background-color: #fffdfd;
  }
  .cards{
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .card {
    width: 300px;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #a2c9c4;
    text-align: center;
    margin: 20px;
  }
  
  .card-profile-icon {
    font-size: 50px;
    color: #a2c9c4;
  }
  
  .card-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Description */
  .card-description {
    font-size: 16px;
    color: #333;
    margin: 10px 0 20px;
  }
  
  /* Price Button */
  .card-price-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #1a2941;
    color: #1a2941;
    font-weight: bold;
    text-decoration: none;
  }