
html {
    scroll-behavior: smooth;
  }
  
  
  a.question-button {
    background-color: white;
    border-radius: 25px;
    border: 3px solid #202258;
    text-decoration: none;
  }
  
  
  .background-image {
    background-image: url('../img/homepage.png');
    background-size: cover; 
    background-position: center; 
    width: 100vw; 
    height: 100vh; 
    position: relative;
  }
  
  .overlay-text {
    position:absolute;
    top: 40%; 
    left: 20%;
    transform: translate(-50%, -50%); 
    color: #202258; 
    
    text-align: center; 
    font-weight: 1000;
    font-family: "Alfa Slab One", serif;
    font-size: 60px;
    font-style: normal;
  }
  
  .carousel-container {
    width: 100%;
    background-color: #93bfb7; 
    padding: 20px;
  }
  
  .slick-slide {
    
    text-align: center;
    color: #fff;
    background: #93bfb7; 
    
  }
  
  .carousel-vertical .carousel-inner {
    height: 300px; /* Set the height for the carousel */
  }
  
  .carousel-vertical .carousel-item {
    height: 100%; /* Each item takes the full height of the carousel */
  }
  
  .carousel-vertical .carousel-item-next,
  .carousel-vertical .carousel-item-prev,
  .carousel-vertical .carousel-item.active {
    transition: transform 0.6s ease;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #202258; /* Ensures background is transparent */
    border-radius: 50%; /* Optional: gives it a round appearance */
    width: 30px; /* Optional: size of the icon */
    height: 30px; /* Optional: size of the icon */
  }