@import url('https://path-to-your-font-or-google-font-url');

* {
  font-family: "Open Sauce One", sans-serif;
}

a.question-button.nav-link {
  background-color: white;
  border-radius: 25px;
}


a.question-button:hover {
  background-color: #202258; 
  color: #ffffff;



}